{% extends 'base.html.twig' %}

{% block title %} {{user.getFullName}} {% endblock %}
{% block classBody %}class="home-index"{% endblock %}

{% block body %}
{% include '_component/_nav.html.twig' %}
{% include '_component/_modal_logout.html.twig' %}

{% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message|raw }}
            </div>
{% endfor %}

<h1 class="mt-4">Bonjour <br>{{user.getFullName}}</h1>
<p class="dateToday">Nous sommes le <time><datetime>{{today_date|date('d/m/Y')}}</datetime></time> et voici les dernières actualités de l'Entreprise :</p>

<div class="show-news">
    <div>
        {{lastNews.news|raw}}
    </div>
</div>

{% if not user.isLeader %}
    <p class="text-center mt-3">
    <kbd>
{% if user.isMale %}
    Prêt 
{% else %}
    Prête 
{% endif %}
    pour commencer votre journée, alors cliquer sur le bouton ci-dessous</kbd></p>

    <p class="text-center"><a href="{{path('access_mission', {'slug': user.slug})}}" class="btn btn-primary">Mes missions <i class="far fa-flag"></i></a></p>
    {% else %}
        {% if userSameTeam %}
        <p class="text-center">Cliquez sur votre collègue pour lui attribuer une mission</p>
    <div class="d-flex justify-content-center mt-3">
        {% for workmate in userSameTeam %}
            <a href="{{ path('send_mission', {'slug':user.slug , 'employee': workmate.slug}) }}" class="btn-primary btn">{{ workmate.getFullName }}</a>
        {% endfor %}
    </div>
    {% endif %}
{% endif %}



{% endblock %}
