{% extends 'base.html.twig' %}

{% block title %}Assigner vos missions !!{% endblock %}
{% block classBody %}class="send-mission-index"{% endblock %}

{% block body %}
{% include '_component/_nav.html.twig' %}
{% include '_component/_modal_logout.html.twig' %}

{{form_start(form)}}
{{form_widget(form)}}
<button>Soumettre</button>
{{form_end(form)}}
{% if allMissionByUser|length == 0 %}
    <p>Assigné à {{ receiver.firstName }} sa première mission</p>
    {% else %}
        <p>{{ receiver.firstName }} a été affecté à {{allMissionByUser|length}} missions et en a validé {{mission|length}}    </p>
{% endif %}

{% endblock %}
